{% extends "appNM/padre.html" %}

{% load static %}

{% block contenido %}

    <h1 class="text-center">BIENVENIDOS</h1>




    <div class="container">
        <p>¿Qué desea hacer? </p>

        <a class="navbar-brand" href="{% url 'BusquedaCurso' %}">Buscar curso</a>


        <a class="navbar-brand" href="{% url 'NuevoProfe' %}">Cargar Profesores</a>


        <a class="navbar-brand" href="{% url 'NuevoCurso' %}">Cargar Cursos</a>


        <a class="navbar-brand" href="{% url 'NuevoAlumno' %}">Cargar Estudiantes</a>
        
    </div>














    
{% endblock %}